
body {
  font-family: sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
  height: 100vh;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.header h1 {
  margin: 0;
}

.header .logo {
  display: flex;
  align-items: center;
}

.header .logo img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.search-bar {
  width: 300px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.button {
  padding: 10px 20px;
  background-color: #fdd835;
  color: navy;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

th, td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ccc;
}

th {
background-color: #f0f0f0;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  padding: 10px 20px;
  background-color: #fdd835;
  color: navy;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.pagination button:hover {
  background-color: #fdd835;
}


.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.container-modal {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  width: 300px;
}

h2 {
  text-align: center;
}

.buttons-modal {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.button-modal {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.cancel-modal {
  background-color: #eee;
  color: #333;
}

.confirm-modal {
  background-color: #fdd835;
  color: #333;
}

.record-count {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.record-count span {
  margin-right: 10px;
}

.records-per-page {
  margin-left: auto;
}


#recordsPerPage {
  width: 4.5rem;
  padding: 5px;
  border-radius: 4px;
  border: 1px solid #030303;
  background-color: #ffffff;
  cursor: pointer;
}

.options-container {
  position: relative;
}

.options-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
}

.options-menu {
  position: absolute;
  right: 0;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  z-index: 1000;
}

.options-menu button {
  display: block;
  width: 100%;
  padding: 5px;
  background: none;
  border: none;
  text-align: left;
  cursor: pointer;
}

.options-menu button:hover {
  background-color: #f0f0f0;
}

.product-logo {
  width: 50px;
  height: auto;
  border-radius: 4px;
}
