<body>
  <br /><br /><br /><br />
  <div class="container">
    <header class="header">
      <input
        type="search"
        class="search-bar"
        placeholder="Buscar..."
        [(ngModel)]="searchTerm"
        (input)="filterProducts()"
      />
      <button class="button" (click)="addProduct()">Añadir</button>
    </header>
    <table>
      <thead>
        <tr>
          <th>Logo</th>
          <th>Nombre</th>
          <th>Descripción</th>
          <th>Fecha de Liberación</th>
          <th>Fecha de Revisión</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of filteredProducts">
          <td>{{ product.logo }}</td>
          <td>{{ product.name }}</td>
          <td>{{ product.description }}</td>
          <td>{{ product.date_release }}</td>
          <td>{{ product.date_revision }}</td>
          <td>
            <button (click)="editProduct(product.id)">Editar</button>
            <button (click)="openDeleteModal(product.id, product.name)">
              Eliminar
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</body>

<div *ngIf="showModal" class="modal">
  <div class="container-modal">
    <h2>¿Estás seguro de eliminar el producto "{{ selectedProductName }}"?</h2>
    <div class="buttons-modal">
      <button class="cancel-modal button-modal" (click)="cancelDelete()">Cancelar</button>
      <button class="confirm-modal button-modal" (click)="confirmDelete()">Confirmar</button>
    </div>
  </div>
</div>
