
body {
  font-family: sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
  height: 100vh;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.header h1 {
  margin: 0;
}

.header .logo {
  display: flex;
  align-items: center;
}

.header .logo img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.search-bar {
  width: 300px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.button {
  padding: 10px 20px;
  background-color: #fdd835;
  color: navy;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

th, td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ccc;
}

th {
background-color: #f0f0f0;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  padding: 10px 20px;
  background-color: #fdd835;
  color: navy;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.pagination button:hover {
  background-color: #fdd835;
}


.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.container-modal {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  width: 300px;
}

h2 {
  text-align: center;
}

.buttons-modal {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.button-modal {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.cancel-modal {
  background-color: #eee;
  color: #333;
}

.confirm-modal {
  background-color: #fdd835;
  color: #333;
}

.record-count {
  display: flex; /* Utiliza flexbox para alinear los elementos */
  justify-content: space-between; /* Espacia los elementos al máximo */
  align-items: center; /* Alinea verticalmente */
  margin-top: 10px; /* Espaciado superior */
}

.record-count span {
  margin-right: 10px; /* Espacio entre el texto y el select */
}

.records-per-page {
  margin-left: auto; /* Alinea el select a la derecha */
}


#recordsPerPage {
  width: 4.5rem; /* Ajusta este valor según lo ancho que desees que sea el select */
  padding: 5px; /* Añade un poco de padding para mejorar la apariencia */
  border-radius: 4px; /* Opcional: esquinas redondeadas */
  border: 1px solid #030303; /* Color del borde */
  background-color: #ffffff; /* Color de fondo */
  cursor: pointer; /* Cambia el cursor al pasar sobre el select */
}
