/* You can add global styles to this file, and also import other style files */

body {
  background-color: white;
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}

.logo {
  display: flex;
  align-items: center;
}

.icon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.text {
  font-family: sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: #333;
}
